<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/style.css">

	<title>Cadastro de Empresa - Yasta</title>
</head>

<body class="h-100 bg-dark">
	<div id="menu"></div>

	<div class="container-fluid mt-fix h-100 bg-light">
		<div class="container text-center py-5 h-100">
			<img class="img-fluid notDraggable" src="/img/logo2.png" width="200rem" alt="">
			<div class="jumbotron mt-5 py-4 h-100">
				<div class="row">
					<div class="col-12 mb-2">
						<h1>Cadastro de Empresa</h1>
					</div>
					<div class="col-12">
						<form class="text-left" method="post" action="salvar/empresa">
							<div class="row">
								<div class="col-12 col-md-9">
									<label for="nome">Nome</label>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1"><img src="/icons/user.svg"
													width="17rem"></span>
										</div>
										<input type="text" class="form-control" placeholder="Nome da empresa"
											aria-label="Nome completo" name="nome" aria-describedby="basic-addon1"
											required>
									</div>
								</div>
								<div class="col-12 col-md-3">
									<div class="form-group">
										<label for="cnpj">CNPJ</label> <input type="text" class="form-control"
											name="cnpj" placeholder="CNPJ da empresa" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="email">Endereço de email</label> <input type="email"
											class="form-control" name="email" placeholder="Endereço de email da empresa"
											required>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="responsavel">Nome do responsável</label> <input type="text"
											class="form-control" name="responsavel" placeholder="Nome do responsável"
											required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="endereco">Endereço</label> <input type="text" class="form-control"
											name="endereco" placeholder="Endereço da empresa" required>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="estado">Estado</label> <input type="text" class="form-control"
											name="estado" placeholder="Estado" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-8">
									<div class="form-group">
										<label for="cidade">Cidade</label> <input type="text" class="form-control"
											name="cidade" placeholder="Cidade" required>
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<label for="cep">CEP</label> <input type="text" class="form-control" name="cep"
											placeholder="CEP" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="telefone">Telefone</label> <input type="text" class="form-control"
											name="telefone" placeholder="Telefone da empresa" required>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="senha">Senha</label> <input type="password" class="form-control"
											name="senha" placeholder="Senha" required>
										<!-- Cargo -->
										<input type="text" name="role" value="1" hidden="true">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 text-center">
									<a href="/"><button type="button" class="btn btn-info mt-4">Voltar</button></a>
									<button type="submit" class="btn btn-info mt-4">Cadastrar</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container-fluid bg-dark text-white">
		<div class="container pt-4">
			<div class="container-fluid">
				<p>
					Yasta - Sistema de estágios<br>Desenvolvido por: Fabricio
					Rocha, Gabriel Zutião, Jady Domingues, Leonardo Cerminaro e
					Vinícius Perna<br>2019
				</p>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		$("#menu").load("/menu");
	</script>
</body>

</html>