<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" href="/css/style.css">

	<title>Relatório de estágio - Yasta</title>
</head>

<body class="h-100 bg-dark">
	<div id="menu"></div>

	<div class="container-fluid mt-fix h-100 bg-light">
		<div class="container text-center py-5 h-100">
			<img class="img-fluid notDraggable" src="/img/logo2.png" width="200rem" alt="">
			<div class="jumbotron mt-5 py-4 h-100">
				<div class="row">
					<div class="col-12 mb-2">
						<h1>Relatório de estágio</h1>
					</div>
					<div class="col-12">
						<form class="text-left" method="post" action="/salvar/relatorio" th:object="${relatorioObj}">
							<div class="row">
								<div class="col-12">
									<div th:if="${acao != 'cadastrar'}" th:switch="*{validado}">
										<div th:case="true" class="alert alert-success" role="alert">
											Relatório validado
										</div>
										<div th:case="false" class="alert alert-danger" role="alert">
											<h5>Relatório não validado</h5>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<div class="form-group">
											<input name="id" th:field="*{id}" hidden>
											<input name="estagioID" th:field="*{estagio.id}" hidden>
											<input name="source" th:value="${source}" hidden>
											<label for="data">Data de entrega:</label> <input type="text"
												class="form-control" name="data" placeholder="Data de entrega"
												id="data" required th:value="*{data}" th:disabled="${acao == 'visualizar' || acao == 'observacoes'}">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<div class="form-group">
											<label for="texto">Texto</label>
											<textarea class="form-control" id="texto" rows="3" style="resize: none"
												name="texto" th:field="*{texto}" th:disabled="${acao == 'visualizar'  || acao == 'observacoes'}" required></textarea>
										</div>
									</div>
								</div>
							</div>
							<div sec:authorize="!(hasAnyRole('ROLE_ALUNO'))" class="row">
								<div class="col-12">
									<div class="form-group">
										<div class="form-group">
											<div sec:authorize="hasAnyRole('ROLE_SUPERVISOR')">
												<input type="hidden" name="data" th:value="*{#temporals.format(data, 'dd/MM/yyyy')}">
												<input type="hidden" name="texto" th:value="*{texto}">
											</div>
											<label for="observacoes">Observações</label>
											<textarea class="form-control" id="observacoes" rows="3" style="resize: none"
												name="observacoes" th:field="*{observacoes}" th:disabled="${acao == 'visualizar'}"></textarea>
										</div>
									</div>
								</div>
							</div>
							<div sec:authorize="hasAnyRole('ROLE_ALUNO')" class="row">
									<div class="col-12">
										<div class="form-group">
											<div class="form-group">
												<input type="hidden" name="observacoes" th:value="*{observacoes}">
												<label for="observacoes">Observações</label>
												<textarea class="form-control" id="observacoes" rows="3" style="resize: none"
													name="observacoesS" th:field="*{observacoes}" disabled></textarea>
											</div>
										</div>
									</div>
								</div>
							<div class="row">
								<div th:switch="${acao}" class="col-12 text-center">
									<div th:case="'cadastrar'">
										<a href="/meusEstagios"><button type="button"
												class="btn btn-info mt-4">Voltar</button></a>
										<button type="submit" class="btn btn-info mt-4">Cadastrar</button>
									</div>
									<div th:case="'visualizar'">
										<a th:href="@{|/${source}|}"><button type="button"
												class="btn btn-info mt-4">Voltar</button></a>
									</div>
									<div th:case="*">
										<a th:href="@{|/${source}|}"><button type="button"
											class="btn btn-info mt-4">Voltar</button></a>
										<button type="submit" class="btn btn-info mt-4">Salvar</button>
									</div>
								</div>
							</div>
						</form>
						<div class="row mt-5">
							<div sec:authorize="hasAnyRole('ROLE_ADMIN')" class="col-12 text-center">
								<h5>Painel de administrador</h5>
								<form method="POST" action="/relatorio/editar">
									<input name="id" th:value="${relatorioObj.id}" hidden>
									<input name="source" value="gerenciarEstagios" hidden>
									<button type="submit" name="acao" value="validar" class="btn btn-success mt-4">Validar</button>
									<button type="submit" name="acao" value="remover" class="btn btn-danger mt-4">Remover</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container-fluid bg-dark text-white">
		<div class="container pt-4">
			<div class="container-fluid">
				<p>
					Yasta - Sistema de estágios<br>Desenvolvido por: Fabricio
					Rocha, Gabriel Zutião, Jady Domingues, Leonardo Cerminaro e
					Vinícius Perna<br>2019
				</p>
			</div>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		$(() => {
			$("#data").datepicker({
				changeYear: true,
				changeMonth: true,
				dateFormat: 'dd/mm/yy',
				dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
				dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
				dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
				monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
				monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
				nextText: 'Próximo',
				prevText: 'Anterior'
			});
		})

		$(document).ready(() => {
			if($("#data").val() !== ""){
				if (new Date($("#data").val())) {
					var data = new Date($("#data").val());
					data.setDate(data.getDate() + 1);

					$("#data").val(data.toLocaleDateString());
				}
			}
		});

		$("#menu").load("/menu");

	</script>
</body>

</html>