<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" href="/css/style.css">

<title>Meu Currículo - Yasta</title>
</head>

<body th:object="${alunoObj}" class="h-100 bg-dark">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="/"> <img src="/img/logonav.png"
			width="60px">
		</a>
		<button class="navbar-toggler" data-target="#my-nav"
			data-toggle="collapse" aria-controls="my-nav" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div id="my-nav" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/perfil">Meu
						perfil</a></li>
				<li class="nav-item"><a class="nav-link" href="/vagas">Vagas</a></li>
				<li class="nav-item"><a class="nav-link" href="/meuestagio">Meu
						estágio</a></li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item"><a class="nav-link" href="/sair">Sair</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid mt-fix h-100 bg-light">
		<div class="container text-center py-5 h-100">
			<div class="jumbotron py-4 h-100">
				<div class="row">
					<div class="col-12 mb-2">
						<h1>Meu Currículo</h1>
					</div>
					<div class="col-12">
						<img src="/icons/curriculum.svg" width="200px">
						<h5 class="mt-3">Nome:</h5>
						<h5 th:text="*{nome}"></h5>
						<br />
						<h6 class="mb-3">Email:</h6>
						<h6 th:text="*{email}"></h6>
						<br /> <span>Endereço:</span> <br /> <label
							th:text="*{endereco}"></label> <br /> <br /> <span>Telefone:</span>
						<br /> <label th:text="*{telefone}"></label>
					</div>
					<div class="col-12">
						<div class="row py-3">
							<div class="col-12">
								<h2>Formação acadêmica</h2>
								<button type="button" class="btn btn-success btn-sm"
									data-toggle="modal" data-target="#modalFormacao">Adicionar</button>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<div class="row" th:each="formacao : ${formacoes}">
								<div class="col-12 col-md-8">
									<li class="media"><img src="/icons/university.svg"
										width="60px" class="mr-3">
										<div class="media-body">
											<h5 class="mt-0 mb-1">
												<label th:text="${formacao.curso}"></label> - <label
													th:text="${formacao.instituicao}"></label>
											</h5>
											<span>Nível: </span><label th:text="${formacao.nivel}"></label><br>
											<span>Situação: </span><label th:text="${formacao.situacao}"></label>
										</div></li>

								</div>
								<div class="col-12 col-md-4 text-right">
									<form method="POST" action="#">

										<div class="id" th:text="${formacao.id}"
											style="display: none;"></div>
										<div class="instituicao" th:text="${formacao.instituicao}"
											style="display: none;"></div>
										<div class="curso" th:text="${formacao.curso}"
											style="display: none;"></div>
										<div class="nivel" th:text="${formacao.nivel}"
											style="display: none;"></div>
										<div class="situacao" th:text="${formacao.situacao}"
											style="display: none;"></div>

										<button type="button"
											class="alterarFormacao btn btn-info btn-sm mt-1"
											data-toggle="modal" data-target="#modalFormacaoEditar">Modificar</button>
										<button type="submit" name="acao" value="remover"
											class="btn btn-danger btn-sm mt-1">Remover</button>
									</form>
								</div>
							</div>
						</ul>
					</div>
					<hr>
					<div class="col-12">
						<div class="row py-3">
							<div class="col-12">
								<h2>Experiência profissional</h2>
								<button type="button" class="btn btn-success btn-sm"
									data-toggle="modal" data-target="#modalExperiencia">Adicionar</button>
							</div>
						</div>
						<ul class="list-unstyled text-left">
							<div class="row" th:each="experiencia : ${experiencias}">
								<div class="col-12 col-md-8">
									<li class="media"><img src="/icons/work.svg" width="60px"
										class="mr-3">
										<div class="media-body">
											<h5 class="mt-0 mb-1">
												<label th:text="${experiencia.empresa}"></label> - <label
													th:text="${experiencia.funcao}"></label>
											</h5>
											<span>Data de admissão: </span><label
												th:text="${experiencia.dataAdmissao}"></label><br> <span>Data
												de demissão: </span><label th:text="${experiencia.dataDemissao}"></label><br>
											<span>Tarefas realizadas: </span><label
												th:text="${experiencia.tarefasRealizadas}"></label>
										</div></li>
								</div>
								<div class="col-12 col-md-4 text-right">
									<form method="POST" action="#">

										<div class="id" th:text="${experiencia.id}" style="display: none;"></div>
										<div class="empresa" th:text="${experiencia.empresa}" style="display: none;"></div>
										<div class="funcao" th:text="${experiencia.funcao}" style="display: none;"></div>
										<div class="dataAdmissao" th:text="${experiencia.dataAdmissao}" style="display: none;"></div>
										<div class="dataDemissao" th:text="${experiencia.dataDemissao}" style="display: none;"></div>
										<div class="tarefasRealizadas" th:text="${experiencia.tarefasRealizadas}" style="display: none;"></div>

										<button type="button"
											class="alterarExperiencia btn btn-info btn-sm mt-1"
											data-toggle="modal" data-target="#modalExperienciaEditar">Modificar</button>
										<button type="submit" name="acao" value="remover"
											class="btn btn-danger btn-sm mt-1">Remover</button>
										>
									</form>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="container-fluid bg-dark text-white">
		<div class="container pt-4">
			<div class="container-fluid">
				<p>
					Yasta - Sistema de estágios<br>Desenvolvido por: Fabricio
					Rocha, Gabriel Zutião, Jady Domingues, Leonardo Cerminaro e
					Vinícius Perna<br>2019
				</p>
			</div>
		</div>
	</footer>

	<!-- Modal de cadastro -->
	<div class="modal fade" id="modalFormacao" tabindex="-1" role="dialog"
		aria-labelledby="modalFormacao" aria-hidden="true">
		<form method="POST" action="salvar/formacao" id="cadForm">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Cadastrar Formação Acadêmica</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-12">
								<label for="curso">Curso: </label> <input type="text"
									class="form-control" id="curso" placeholder="Nome do curso"
									name="curso" required>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="instituicao">Instituição: </label> <input
									type="text" class="form-control" id="instituicao"
									placeholder="Instituição" name="instituicao" required>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="nivel">Nível: </label> <select name="nivel"
									form="cadForm" id="nivel" class="form-control" required>
									<option th:value="EnsinoMédio">Ensino médio</option>
									<option th:value="EnsinoTécnico">Ensino técnico</option>
									<option th:value="Graduação">Graduação</option>
									<option th:value="Pós-graduação">Pós-graduação</option>
									<option th:value="Mestrado">Mestrado</option>
									<option th:value="Doutorado">Doutorado</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="situacao">Situação: </label> <input type="text"
									class="form-control" id="situacao" placeholder="Situação"
									name="situacao" required>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-success">Enviar</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="modal fade" id="modalExperiencia" tabindex="-1"
		role="dialog" aria-labelledby="modalExperiencia" aria-hidden="true">
		<form method="POST" action="salvar/experiencia" id="cadExp">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Cadastrar Experiência Profissional</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-12">
								<label for="empresa">Empresa: </label> <input type="text"
									class="form-control" id="empresa" placeholder="Nome da empresa"
									name="empresa" required>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="funcao">Função: </label> <input type="text"
									class="form-control" id="funcao" placeholder="Função"
									name="funcao" required>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="dataAdmissao">Data de admissão</label> <input
										type="text" class="form-control" name="dataAdmissao"
										placeholder="Data de admissão" id="dataAdmissao" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="dataDemissao">Data de demissão</label> <input
										type="text" class="form-control" name="dataDemissao"
										placeholder="Data de demissão" id="dataDemissao" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="tarefasRealizadas">Tarefas realizadas: </label>
								<textarea class="form-control" id="tarefasRealizadas" rows="3"
									style="resize: none" required></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-success">Enviar</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<!-- Modal de edição -->
	<div class="modal fade" id="modalFormacaoEditar" tabindex="-1"
		role="dialog" aria-labelledby="modalFormacaoEditar" aria-hidden="true">
		<form method="POST" action="salvar/formacao" id="cadForm">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Editar Formação Acadêmica</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-12">
								<label for="curso">Curso: </label> <input type="text"
									class="form-control" id="curso" placeholder="Nome do curso"
									name="curso" required> <input type="text" name="id"
									id="id" hidden="true">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="instituicao">Instituição: </label> <input
									type="text" class="form-control" id="instituicao"
									placeholder="Instituição" name="instituicao" required>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="nivel">Nível: </label> <select name="nivel"
									form="cadForm" id="nivel" class="form-control" required>
									<option th:value="EnsinoMédio">Ensino médio</option>
									<option th:value="EnsinoTécnico">Ensino técnico</option>
									<option th:value="Graduação">Graduação</option>
									<option th:value="Pós-graduação">Pós-graduação</option>
									<option th:value="Mestrado">Mestrado</option>
									<option th:value="Doutorado">Doutorado</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="situacao">Situação: </label> <input type="text"
									class="form-control" id="situacao" placeholder="Situação"
									name="situacao" required>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-success">Enviar</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<div class="modal fade" id="modalExperienciaEditar" tabindex="-1"
		role="dialog" aria-labelledby="modalExperienciaEditar"
		aria-hidden="true">
		<form method="POST" action="salvar/experiencia" id="cadExp">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Editar Experiência Profissional</h5>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="form-group col-12">
								<label for="empresa">Empresa: </label> <input type="text"
									class="form-control" id="empresa" placeholder="Nome da empresa"
									name="empresa" required> <input type="text" name="id"
									id="id" hidden="true">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="funcao">Função: </label> <input type="text"
									class="form-control" id="funcao" placeholder="Função"
									name="funcao" required>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="dataAdmissao">Data de admissão</label> <input
										type="text" class="form-control" name="dataAdmissao"
										placeholder="Data de admissão" id="dataAdmissaoEdicao" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="form-group">
									<label for="dataDemissao">Data de demissão</label> <input
										type="text" class="form-control" name="dataDemissao"
										placeholder="Data de demissão" id="dataDemissaoEdicao" required>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-12">
								<label for="tarefasRealizadas">Tarefas realizadas: </label>
								<textarea name="tarefasRealizadas" class="form-control" id="tarefasRealizadas" rows="3"
									style="resize: none" required></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Fechar</button>
						<button type="submit" class="btn btn-success">Enviar</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link
		href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
		rel="Stylesheet" type="text/css" />
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
        $(() => {
            var datepickerConfig = {
                changeYear: true,
                changeMonth: true,
                dateFormat: 'dd/mm/yy',
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                nextText: 'Próximo',
                prevText: 'Anterior'
            }

            $("#dataAdmissao").datepicker(datepickerConfig);
            $("#dataDemissao").datepicker(datepickerConfig);
            
            $("#dataAdmissaoEdicao").datepicker(datepickerConfig);
            $("#dataDemissaoEdicao").datepicker(datepickerConfig);
        })
        
        $(document).ready(function () {
		    $(".alterarFormacao").click(function () {
		        id = $(this).siblings(".id").html();
		        instituicao = $(this).siblings(".instituicao").html();
		        curso = $(this).siblings(".curso").html();
		        nivel = $(this).siblings(".nivel").html();
		        situacao = $(this).siblings(".situacao").html();

		        $("#modalFormacaoEditar #id").val(id);
		        $("#modalFormacaoEditar #instituicao").val(instituicao);
		        $("#modalFormacaoEditar #curso").val(curso);
		        $("#modalFormacaoEditar #nivel").val(nivel).change();
		        $("#modalFormacaoEditar #situacao").val(situacao);
		    });
		});
        
        $(document).ready(function () {
    		$(".alterarExperiencia").click(function () {
		        id = $(this).siblings(".id").html();
		        empresa = $(this).siblings(".empresa").html();
		        funcao = $(this).siblings(".funcao").html();
		        dataAdmissao = $(this).siblings(".dataAdmissao").html();
		        dataDemissao = $(this).siblings(".dataDemissao").html();
		        tarefasRealizadas = $(this).siblings(".tarefasRealizadas").html();
		
		        $("#modalExperienciaEditar #id").val(id);
		        $("#modalExperienciaEditar #empresa").val(empresa);
		        $("#modalExperienciaEditar #funcao").val(funcao);
		        $("#modalExperienciaEditar #dataAdmissaoEdicao").val(dataAdmissao);
		        $("#modalExperienciaEditar #dataDemissaoEdicao").val(dataDemissao);
		        $("#modalExperienciaEditar #tarefasRealizadas").val(tarefasRealizadas);
    		});
 		});

    </script>
</body>

</html>