<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet" href="./css/style.css">

<title>Login - Yasta</title>
</head>

<body class="vh-100" id="login">
	
	<div class="container-fluid h-100">
		<div class="container text-center h-100">
			<div class="row h-100">
				<div class="col-12 mt-auto">
					<img class="img-fluid notDraggable" src="./img/logo2.png"
						width="200rem" alt="">
				</div>
				<div class="col-12">
					<form method="post" th:action="@{/login}">
						<input type="email" class="form-control mt-3 loginInput"
							placeholder="Email" autofocus name="username" value="admin@admin"> <input
							type="password" class="form-control loginInput"
							placeholder="Senha" name="password" value="admin">
						<button type="submit" class="btn btn-info mt-4">Entrar</button>
						<button class="btn btn-info mt-4 dropdown-toggle" type="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/cadastrar/aluno">Aluno</a> <a
								class="dropdown-item" href="/cadastrar/empresa">Empresa</a> <a
								class="dropdown-item" href="/cadastrar/admin">Admin</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>