<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<a class="navbar-brand" href="/"> <img src="/img/logonav.png"
		width="60px">
	</a>
	<button class="navbar-toggler" data-target="#my-nav"
		data-toggle="collapse" aria-controls="my-nav" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="my-nav" class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/" sec:authorize="isAuthenticated()">Início</a></li>
			<li class="nav-item"><a class="nav-link" href="/curriculo" sec:authorize="hasAnyRole('ROLE_ALUNO')">Meu
					Curriculo</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/gerenciarUsuarios" sec:authorize="hasAnyRole('ROLE_ADMIN')">Gerenciar Usuarios</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/gerenciarEstagios" sec:authorize="hasAnyRole('ROLE_ADMIN')">Gerenciar Estágios</a></li>	
			<li class="nav-item"><a class="nav-link" href="/vagas">Vagas</a></li>
			<li class="nav-item"><a class="nav-link" href="/minhasVagas" sec:authorize="hasAnyRole('ROLE_EMPRESA')">Minhas Vagas</a></li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Sair</a></li>
			<li class="nav-item"><a class="nav-link" href="/login" sec:authorize="isAnonymous()">Login</a></li>
			<!-- 			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" href="#" role="button"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</a>
				<div class="dropdown-menu dropdown-menu-right"
					aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/cadastrar/aluno">Aluno</a> <a
						class="dropdown-item" href="/cadastrar/empresa">Empresa</a> <a
						class="dropdown-item" href="/cadastrar/admin">Admin</a>
				</div></li> -->
		</ul>
	</div>
</nav>