<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <title>Vagas - Yasta</title>
</head>

<body class="h-100 bg-dark">
    <div id="menu"></div>

    <div th:object="${alunoObj}" class="container-fluid mt-fix h-100 bg-light">
        <div class="container text-center py-5 h-100">
            <div class="jumbotron py-4 h-100">
                <div class="row">
                    <div class="col-12 mb-2">
                        <h1>Vagas disponíveis</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="card text-center">
                            <div class="card-header">
                                Empresa
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Descrição do estágio</h5>
                                <h6 class="card-title">Requisitos obrigatórios</h6>
                                <p class="card-text">*Inserir requisitos obrigatórios*</p>
                                <hr>
                                <h6 class="card-title">Requisitos desejáveis</h6>
                                <p class="card-text">*Inserir requisitos desejáveis*</p>
                                <button class="btn btn-success bt-sm" type="submit">Candidatar-se</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container-fluid bg-dark text-white">
        <div class="container pt-4">
            <div class="container-fluid">
                <p>
                    Yasta - Sistema de estágios<br>Desenvolvido por: Fabricio
                    Rocha, Gabriel Zutião, Jady Domingues, Leonardo Cerminaro e
                    Vinícius Perna<br>2019
                </p>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        $("#menu").load("/menu");
    </script>
</body>

</html>