.loginInput {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

#loginUser {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#loginPassword {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.vh-100 {
    height: 100vh !important;
}

#login {
    background-image: url("../img/loginbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.notDraggable {
    pointer-events: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.mt-fix {
    margin-top: 57px;
}

footer {
    height: 100%;
}

.bg-welcome {
    background-color: rgba(47,79,79,.5);
}